/*=============================== General Comps ==========================*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,900,300);

*{	
	font-family: 'Roboto'; 
	
}
html,
body {
    width: 100%;
    height: 100%;
    word-wrap: normal;

   
}
header{
 	margin-top: 30px;
 	margin-bottom: 20px;
}
footer{	
	background-color: #101010;
	padding: 30px;
	margin-top:50px;
	color:#444;
	-webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}
footer p {
	font-size:12px !important;
	text-align: justify;


}
main{
	margin-top: 0px;

}
.contraste{
	color: white;
	font-weight: 900;
	background-color: #8f3e3e;
	margin-top: 0px;
}
.other-header{
	padding: 4%;
    width: 100%;
    background: url(../img/header-background-invert.gif) no-repeat center center scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: invert(.1) contrast(1);
    color: white;
}
.other-header h2 { font-size: 70px; 	}
/*=============================== Nav-In ==============================*/
.navbar{
 	font-size: 12px;
	margin-bottom: 10px;
	border-style: none;
}
.navbar-brand{	font-weight: 800;	}
.navbar-right{	margin-right: 4px;	}

/*================================ Login ===============================*/
.modal-header{
	background-color: #8f3e3e;
	color: white;
	border-top-right-radius: 4.8px;
	border-top-left-radius: 4.8px;
	text-align: center;
}
.modal .btn{	background-color: #8f3e3e;	color: white;	}

/*=============================== Icones ==============================*/
.icones{ margin-top: 14%;}
.icones i{
	width:30px;
	height:30px;
	background:url('../img/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;
}
i.login{
	background-position:-70px 0px;
	margin-right: 1px;
}
i.twitter 			{	
	background-position:0px 0px;
}
i.facebook 			{	background-position:-35px 0px; 	
}
i.login:hover 		{	background-position:-70px -35px;	}
i.twitter:hover 	{	background-position:0px -35px;		}
i.facebook:hover 	{	background-position:-35px -35px;	}

/*============================== Header-In =============================*/
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/header-background-invert.gif) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -webkit-filter: invert(.1) contrast(1);

}
.h-buttom{
    width: 60px;
    color: #fff;
    height: 60px;
    background: 0 0;
    margin-top: 15px;
    border-radius: 100%;
    border: 2px solid #fff;
    padding: 0px;
}
.h-buttom-space{    
    vertical-align: middle;
    margin-top: 18px;
}
header .glyphicon{  
    margin: 0 auto;
    display: block;
    font-size: 20px;
    line-height: 0.4;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
	color: white;
	font-weight: 900;
}

.text-vertical-center h1 {	font-size: 4.5em; font-weight: 900;	}
.text-vertical-center h3 {	font-size: 1.8em; font-weight: 900;	}

/*============================== Index-In =============================*/
.h2-lema-a{ 
	font-size: 65px;
	font-weight: 900;
	margin-bottom: 0px;
}
.page-principal .contraste-a{
	font-size: 55px;
	text-align: right;
	padding-right: 7%;
	margin-bottom: 2%;
}
.page-principal .contraste-b{
	font-size: 40px;
	text-align: center;
	padding-right: 0px;
}
.page-principal p{	
	text-align: justify;
	font-size: 14px;
}

.text-center-section{ margin-top: 6%; }

/*Extral-In
.bg-primary 	{ background-color:  #8f3e3e; height: 200px; padding-top: 1%;}
.eddie-ride p 	{	 margin-bottom: 20px;	}
.eddie-ride .h2-lema-a{ }
.jogar{
	font-size: 125px; 
	font-weight: 800; 
	color:white;
	
}
.jogar:hover{
	color:#333;
	
}
a .jogar{
	text-decoration: 
} 
#MyDiv	{ overflow-x: hidden; 	}
#canvas	{ overflow-x: hidden;	}
*/

/*=====================================================================*/

/*================================= Eventos ===========================*/
.page-eventos header p  { font-size: 15px; 	}
.page-eventos main 		{ margin-top: 4%; 	}

.page-eventos .contraste-a{ 
	font-size: 60px;
	text-align: left;
	padding-left: 3%;
	margin: 0px;
	margin-top: 3%;
	margin-bottom: 1%;
}
/*================================= Post ==============================*/

.post h3{
	font-size: 40px;
	margin-top: 0px;
	font-weight: 900;
}
.post time + span, time{
	font-size: 12px;
	text-align: left;
}
.conteudo 	{	margin-top: 8px;	}
.post 		{	padding: 15px;		}
.post span 	{	display: block;		}
.p-summary	{	text-align: justify;}

@media (max-width: 768px){
	.page-eventos header { background-size:cover;}
	.page-eventos header h2{ font-size: 55px;}
	.page-eventos header h3{ font-size: 30px;}
}
/*=====================================================================*/

@media (max-width: 768px) {	
 	.page-principal header div h1 	{ font-size: 57px; 	}
 	.page-principal header div h2 	{ font-size: 25px; 	}
 	.page-principal .h-mensagen		{ margin-top: 35%;	}
}
@media (max-width: 991px) {
	.page-principal .img-circle		{ border-radius: 20px; width: 100%;	}
	.page-principal .h2-lema-a		{ font-size: 45px;	}
	.page-principal .h2-lema-b		{ font-size: 40px; 	}
	.page-principal .contraste-a	{ font-size: 40px;	}
	.page-principal .contraste-b	{ font-size: 40px;	}
}
/*=====================================================================*/
/*============================== Membros ==============================*/
/*=====================================================================*/
.page-membros main{
	margin-top: 8%;
}
.page-membros main ul li{     
  list-style:none;            
}
.hoverzoom{ margin: 0px; border-radius: 0px;}
.page-membros .row{ padding: 0px; margin: 0px}
.page-membros .contraste-b{ 
	font-size: 50px;
	text-align: left;
	padding-left: 3%;
	margin-bottom:0px; 
}
.page-membros .contraste-a{ 
	font-size: 60px;
	text-align: left;
	padding-left: 3%;
	margin: 0px;
}
img.desaturate { 
	-webkit-filter: grayscale(30%)  invert(.2);
	filter: grayscale(100%);
}
.page-membros .col-lg-4, .col-lg-2{padding: 0.5px; margin: 0px;}
.page-membros .col-lg-8, .col-lg-12{padding: 0px; margin: 0px;}
.hoverzoom{
	position: relative;
	width: 350;
	overflow: hidden;
}
.hoverzoom > img {
	width: 100%; 
	border-radius: 2px;
	-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover > img {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}
.hoverzoom .retina{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;    
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);    
	vertical-align: middle;
	text-align: center;
	-webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
	transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
}
.hoverzoom:hover .retina {
	opacity: 1;
	box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}
.hoverzoom .retina p {
	color: #fff;
}
.hoverzoom .retina span {
	display: inline-block;
	width: 100%;
	height: 20%;
	background: #8f3e3e;
	font-weight: 900;
	color: #fff;
	letter-spacing: 0.4px;
	margin-top: 80%;
	text-align: center;
	padding: 8% 20px;
}

/*================================= Galeria ===========================*/

.page-galeria main 		{ margin-top: 4%; 	}

.page-galeria main ul{         
  padding:0 0 0 0;
  margin:0 0 0 0;
}
.page-galeria main ul li{     
  list-style:none;
  margin-bottom:0px;           
}
.page-galeria main ul li img{
  cursor: pointer;
}
.page-galeria .contraste-a{ 
	font-size: 60px;
	text-align: left;
	padding-left: 3%;
	margin: 0px;
	margin-top: 5%;
}


#myGaleria .modal-body{
    padding:1px !important;
}
#myGaleria .modal-content{
	border-radius:0;
}
#myGaleria .modal-dialog img {
   	text-align:center;
    margin:0 auto;
    width: 100%;
    height:auto;
}
#myGaleria .controls{
	padding: 3px;          
	margin-top: 1px;
	margin-bottom: 3px;
    display:block;
    font-size:25px;
    font-weight:bold; 
    text-decoration: none;         
}
#myGaleria .controls:hover{
	color:#333;
	text-decoration: none;
}
.next{
	color: white;
	background-color: #8f3e3e;
    float:right;
    text-align:right;
}
.previous{
	color: white;
	background-color: #8f3e3e;
    float:left;
    text-align:left;	
}
.modal-dialog{
  max-width:500px;
  padding-top: 90px;
}


@media screen and (min-width: 768px){
  .modal-dialog {
      width:500px;
      padding-top: 90px;
  }          
}
@media screen and (max-width:1500px){
  #ads {
      display:none;
  }
}
/*================================= Historia ===========================*/
.page-historia main p{
	text-align: justify;
}
.page-historia main h2{
	margin-bottom: 3%;
	padding: 5px;

}
/*================================= Membros ===========================*/
textarea { resize: none }


canvas{
	margin-left: 6%;
	display: none;
}
