/*=================== Nav-In ======================*/
.navbar{
 	font-size: 12px;
	margin-bottom: 10px;
	border-style: none;}

header{
 	margin-top: 30px;
 	margin-bottom: 20px;}

.navbar-brand{ 	
	font-weight: 800;}

/*=================== Main-In ======================*/



main ul li{     
  list-style:none;
            
  }

/*================================= Footer ============================*/
/*=====================================================================*/
footer{	
	background-color: #101010;
	padding: 30px;
	margin-top:50px;}

footer p{
	font-size:12px;
	text-align: justify;}


.icones{
	margin-top:1.7em;}

.icones i{
	width:35px;
	height:35px;
	background:url('../img/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;}

i.twitter{
	background-position:0px 0px;}

i.facebook{
	background-position:-35px 0px;}

i.twitter:hover{
	background-position:0px -35px;}

i.facebook:hover{
	background-position:-35px -35px;}

/*========================= Publicações-Eventos =======================*/
/*=====================================================================*/
.page-publicacoes header{
	margin-bottom: 0px;
}

.page-publicacoes header div {
	padding-top: 8%;
    width: 100%;
    height: 400px;
    background-image: url('../img/header.png');
    background-size: 100% 100%;
}

.page-publicacoes header, h2 h3{	
	color: white;
	margin-top: 3% auto;
	text-align: center;
	font-family: Roboto Black;
}

.page-publicacoes header h2{ font-size: 70px;}
.page-publicacoes header h3{ font-size: 30px;}

@media (max-width: 768px){
	.page-publicacoes header div{ background-size: cover;}
	.page-publicacoes header h2{ font-size: 60px;}
	.page-publicacoes header h3{ font-size: 30px;}
}
/*=====================================================================*/
.page-publicacoes main{
	margin-top: 5%;
}

.page-publicacoes main div div h1{
	font-size: 40px;
	color: white;
	text-align: center;
	font-family: Roboto Black;
	background-color: #8f3e3e;
	padding: 1%;
}
/*=====================================================================*/
.post img{
	padding:2%;
	border-radius: 3.5%;
}
.post h3{
	margin-top: 0px;
	font-weight: bold;
	font-family: Roboto Black;
}
.post span{	
	display: block;
}

.post time, span{
	font-size: 12px;
	text-align: left;
}

.page-publicacoes .thumbnail{
	border-width: 1.5px;
}

.post .p-summary{ 
	text-align: justify; 
}
/*=====================================================================*/
