/*=================== Nav ===================*/
.teste{
color: red;
font-family: Roboto Black;
font-size: 20px;


/* Safari */
-webkit-transform: rotate(-6deg);

/* Opera */
-o-transform: rotate(-6deg);
 
/* Firefox */
-moz-transform: rotate(-6deg);
 
/* Internet Explorer */
}


/*=================== Fim ===================*/



footer {
	background-color: #101010;
	padding: 30px;
	margin-top:50px; 

	
}
.espaco-sup { margin-top:20px; }
.espaco-fot { margin-top:40px; }
.esp{ margin-bottom: 10px;}
.cor1, .cor2{ padding: 8px;}

.home-first-p
{
	text-align: justify;
	
}
*{ font-family: Roboto;}

.h2-lema
{ 
	font-size: 55px;
	font-family: Roboto Black;
	margin-bottom: 0px;

	
}

.section-lema
{ 
	font-size: 65px;
	color: white;
	text-align: right;
	font-family: Roboto Black;
	background-color: #8f3e3e;
	padding-right: 7%;
	margin-bottom: 2%;

}
.seila
{ 
	font-size: 50px;
	color: white;
	text-align: center;
	font-family: Roboto Black;
	background-color: #8f3e3e;
	padding:2%;
	margin-bottom: 2%;

}
.bloco-footer
{
	padding: 10px;
	text-align: justify;
	
}
