/*=================== Nav-In ======================*/
.navbar
{ 
	font-size: 12px;
	margin-bottom: 10px;
	border-style: none;
}
.navbar-brand
{ 
	font-weight: 800;
}
header
{
	margin-top: 30px;
	margin-bottom: 20px;
}
.m-artigo{
	margin-top: 4%;
}
/*================== Header-In ====================*/
.h-mensagen
{
	margin-top: 15%;
	position: absolute;
	z-index: +10;
	color: white;
	text-align: center;
	font-family: Roboto Black;
}
.h-background
{ 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
}
.h-video
{  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}



.btn{ padding: 0px;}

.btn-circle{

    width: 60px;
    height: 60px;
    margin-top: 15px;
    border: 2px solid #fff;
    border-radius: 100%;
    color: #fff;
    background: 0 0;
}

.glyphicon{
	margin: 0 auto;
	display: block;
	font-size: 20px;
	line-height: 0.4;
	
}
.vish{
	vertical-align: middle;
	margin-top: 18px;
	margin-left: auto; 
}


header div h1 { font-size: 90px; }

/*================= Media Queries ==================*/
@media (min-aspect-ratio: 16/9){
  .h-video { height: 300%; top: -100%;}
}

@media (max-aspect-ratio: 16/9) {
  .h-video { width: 300%; left: -100%;}
}

@media (max-width: 767px) {	
 header div h1 { font-size: 60px; }
 header div h2 { font-size: 25px; }
 .h-mensagen{ margin-top: 25%; }
}
/*=================================================*/
/*=================== Main-In =====================*/

.espaco-sup { margin-top:20px; }
.espaco-fot { margin-top:40px; }
.esp{ margin-bottom: 10px;}
.cor1, .cor2{ padding: 8px;}

.home-first-p
{
	text-align: justify;
	
}
*{ font-family: Roboto;}

.h2-lema
{ 
	font-size: 55px;
	font-family: Roboto Black;
	margin-bottom: 0px;
}
/*=================================================*/
	

footer {
	background-color: #101010;
	padding: 30px;
	margin-top:50px; 
}
p{
	line-height: 1.9em;
	font-weight: 600;
	font-size: 16px;
}

.section-lema
{ 
	font-size: 55px;
	color: white;
	text-align: right;
	font-family: Roboto Black;
	background-color: #8f3e3e;
	padding-right: 7%;
	margin-bottom: 2%;

}
.seila
{ 
	font-size: 50px;
	color: white;
	text-align: center;
	font-family: Roboto Black;
	background-color: #8f3e3e;
	padding:2%;
	margin-bottom: 2%;

}
.bloco-footer
{
	padding: 10px;
	text-align: justify;
	
}
body{
	overflow-x: hidden;
	
}

