/*=================== Nav-In ======================*/
.navbar{
 	font-size: 12px;
	margin-bottom: 10px;
	border-style: none;}

header{
 	margin-top: 30px;
 	margin-bottom: 20px;}

.navbar-brand{ 	
	font-weight: 800;}

/*=================== Main-In ======================*/
main{
	margin-top: 8%;}


main ul li{     
  list-style:none;
            
  }

.hoverzoom{ margin: 0px; border-radius: 0px;}
.thumbnail{ padding: 2px;}
.contraste-b{ 
	font-size: 24px;
	color: white;
	text-align: center;
	font-family: Roboto Black;
	background-color: #8f3e3e;
	margin-bottom: 0px;
	
	margin-top: 0px;}
.row{ padding: 0px; margin: 0px}

.contraste-b{ 
	font-size: 70px;
	color: white;
	text-align: left;
	font-family: Roboto Black;
	background-color: #8f3e3e;
	padding-left: 3%;
	
	margin-top: 0px;}
.contraste-a{ 
	font-size: 80px;
	color: white;
	text-align: left;
	font-family: Roboto Black;
	background-color: #8f3e3e;
	padding-left: 3%;
	margin: 0px;
	margin-left: 0px;
	margin-top: 0px;}


img.desaturate { 
	-webkit-filter: grayscale(30%)  invert(.2);
	filter: grayscale(100%);
}
.col-lg-2{padding: 0.5px; margin: 0px;}
.col-lg-6{padding: 0px; margin: 0px;}
.col-lg-4{padding: 0.5px; margin: 0px;}
.col-lg-8{padding: 0px; margin: 0px;}
.col-lg-12{padding: 0px; margin: 0px;}
.teste{}

	.teste:hover{ display: none;}

.hoverzoom {
position: relative;
width: 350;
overflow: hidden;
}
.hoverzoom > img {
width: 100%; 
border-radius: 2px;
-webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}
.hoverzoom:hover > img {
-webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
}
.hoverzoom .retina{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0;    
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);    
vertical-align: middle;
text-align: center;

-webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
-o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
}
.hoverzoom:hover .retina {
opacity: 1;
box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}
.hoverzoom .retina p {
color: #fff;
}
.hoverzoom .retina span {
display: inline-block;
width: 100%;
height: 20%;
background: #8f3e3e;
font-family: Roboto Black;
color: #fff;
letter-spacing: 0.4px;
margin-top: 80%;
text-align: center;
padding: 8% 20px;

}
/*=================================================*/
/*====================== Footer ====================*/
footer{	
	background-color: #101010;
	padding: 30px;
	margin-top:50px;}

footer p{
	font-size:12px;
	text-align: justify;}


.icones{
	margin-top:1.7em;}

.icones i{
	width:35px;
	height:35px;
	background:url('../img/img-sprite.png') no-repeat 0px 0px;
	display:inline-block;}

i.twitter{
	background-position:0px 0px;}

i.facebook{
	background-position:-35px 0px;}

i.twitter:hover{
	background-position:0px -35px;}

i.facebook:hover{
	background-position:-35px -35px;}

/*==================================================*/